<ion-header>
  <ion-navbar>
    <ion-title>Mails</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngIf="prev == true"><ion-icon name="skip-backward" (click)="prevpage($event)"></ion-icon></ion-col>
            <ion-col col-6 *ngIf="prev == false"><ion-icon name=""></ion-icon></ion-col>
            <ion-col col-6 text-right *ngIf="next == true"><ion-icon name="skip-forward" (click)="nextpage($event)"></ion-icon></ion-col>
            <ion-col col-6 text-right *ngIf="next == false"><ion-icon name=""></ion-icon></ion-col>
        </ion-row> 
      </ion-grid>
  <!--p>Vous avez {{ newMsg }} messages(s) non lu(s) parmis vos {{ msgNb }}. </p><br-->
  <ion-list>
    <ion-item text-wrap *ngFor="let mail of mails">
      <b *ngIf="mail.isUnread == true"><p (click)="maildetail(mail.objectId)">
        from: {{ mail.from.addr }}, <br>
        {{ mail.date }} <br>
        {{ mail.subject }}
      </p></b>
      <span *ngIf="mail.isUnread == false">
        <p (click)="maildetail(mail.objectId)">
          from: {{ mail.from.addr }}, <br>
          {{ mail.date }} <br>
          {{ mail.subject }}
        </p>
      </span>
    </ion-item>
  </ion-list> 
  <ion-grid>
      <ion-row>
          <ion-col col-6 *ngIf="prev == true"><ion-icon name="skip-backward" (click)="prevpage($event)"></ion-icon></ion-col>
          <ion-col col-6 *ngIf="prev == false"><ion-icon name=""></ion-icon></ion-col>
          <ion-col col-6 text-right *ngIf="next == true"><ion-icon name="skip-forward" (click)="nextpage($event)"></ion-icon></ion-col>
          <ion-col col-6 text-right *ngIf="next == false"><ion-icon name=""></ion-icon></ion-col>
      </ion-row> 
  </ion-grid>
</ion-content>
